{% extends 'store/base.html' %}
 {% block content %}

 <div class="continer-fluid mt-3">
 
  <div class="row">


    <!--filter-->
    <div class="col-lg-3 mx-auto">
      <div class="list-group">
       
        <a href="/ "class="list-group-item list-group-item-action">All Products</a> 
        {% for category in categories %}
        <a href="/?category={{category.id}}"class="list-group-item list-group-item-action">{{category.name}}</a> 
        {% endfor %}  
    </div>
  </div>


    <!--allproducts-->
    <div id='products'class="col-lg-9 mx-auto">
      <div class="row mx-auto">
        {% for product in products %}
        <div class="card mx-auto mb-3"  style="width: 18rem;">
          <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <h5 class="card-text"><b>{{product.price}}</b></h5>
            <a href="#"class="btn btn-light boarder btn-sm">Add to Card</a>
          </div>
        </div>
            {% endfor %}
          </div>
      </div>

    </div>
  </div>
</div>
  
 
 
 
 {% endblock content %}