{% extends 'store/base.html' %}
{% block content %}
<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mt-4 mb-4 mx-auto border rounded pt-4">
            <h3 class="alert alert-info border rounded mt-4 mb-4">Login Here</h3>
            <form action="/login" method="POST">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" alert-dismissable role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                    {{ error }}
                </div>
                {% endif %}

                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" value="{{values.email}}"
                        class="form-control form-control-sm" placeholder="Example@gmail.com">
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="form-control form-control-sm"
                        placeholder="Enter your password">
                </div>

                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="showPasswordCheckbox">
                        <label class="form-check-label" for="showPasswordCheckbox">Show Password</label>
                    </div>
                </div>

                <div class="form-group">
                    <input class="btn btn-sm btn-info col-lg-4" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const showPasswordCheckbox = document.getElementById('showPasswordCheckbox');
    const passwordInput = document.getElementById('password');

    showPasswordCheckbox.addEventListener('change', function () {
        passwordInput.type = this.checked ? 'text' : 'password';
    });
</script>




            </form>
        </div>

    </div>

</div> 



{% endblock content %}